main
	#header
		.falling-leaves
		.mainBut(class="wow fadeInDown" data-wow-delay="0.7s")
			a(href="https://lostark.mangot5.com/game/lostark/preSignup/artist/index" target="_blank")
				img(src="images/btnPreHover.png" alt="")
		.title
			h1(class="wow fadeInDown" data-wow-delay="0.4s") 
				img(src="images/mainTitle.png" alt="")
		.ch(class="wow fadeInRight" data-wow-delay="0.3s")
section#s1 
	.contain
		.chR(class="wow fadeInRight" data-wow-delay="0.2s")
		.chL(class="wow fadeInLeft" data-wow-delay="0.2s")
		h3(class="wow fadeInDown" data-wow-delay="0.1s"): img(src="images/s1Title.png" class="s1Title" alt="​")
		.s1Content 
			img(class="wow bounce" data-wow-delay="0.4s" src="images/s1Content.png" alt="" id="s1Btn")
		h3(class="wow fadeInDown" data-wow-delay="0.1s"): img(src="images/s2Title.png" class="s1Title" alt="​")
		.awardsWrap
			div(class="awards R wow fadeInDown" data-wow-delay="0.1s")
				.awardsTitleWrap
					p(class="awardsTitle1") 創建畫師
					p(class="awardsTitle2") 立刻領取
				div(class="awardsContent R" )
					.imgWrap
						.imgContent
							img(src=`images/rewards1-1.png` alt="")
						p 英雄好感度選擇寶箱 ​X5
					.imgWrap
						.imgContent
							img(src=`images/rewards1-2.png` alt="")
						p 珍稀職業專用刻印書選擇寶箱​ X20​
			.awards(class="wow fadeInDown" data-wow-delay="0.2s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.500達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards2-1.png` alt="")
						p 和諧碎片袋(中) #[br]​X8
					.imgWrap
						.imgContent
							img(src=`images/rewards2-2.png` alt="")
						p 守護石碎片 #[br]​X750
					.imgWrap
						.imgContent
							img(src=`images/rewards2-3.png` alt="")
						p 破壞石碎片 #[br]X250
					.imgWrap
						.imgContent
							img(src=`images/rewards2-4.png` alt="")
						p 和諧突破石 #[br]​X50
					.imgWrap
						.imgContent
							img(src=`images/rewards2-5.png` alt="")
						p 古代白金幣 #[br]​X10​
			.awards(class="wow fadeInDown" data-wow-delay="0.3s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.635達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards3-1.png` alt="")
						p 和諧碎片袋(中) #[br]​X13
					.imgWrap
						.imgContent
							img(src=`images/rewards3-2.png` alt="")
						p 守護石碎片 #[br]​X1200
					.imgWrap
						.imgContent
							img(src=`images/rewards3-3.png` alt="")
						p 破壞石碎片 #[br]X400
					.imgWrap
						.imgContent
							img(src=`images/rewards3-4.png` alt="")
						p 和諧突破石 #[br]​X40
					.imgWrap
						.imgContent
							img(src=`images/rewards3-5.png` alt="")
						p 古代白金幣​ #[br]X10​
			.awards(class="wow fadeInDown" data-wow-delay="0.4s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.805達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards4-1.png` alt="")
						p 和諧碎片袋(中) #[br]​X15
					.imgWrap
						.imgContent
							img(src=`images/rewards4-2.png` alt="")
						p 守護石碎片 #[br]​X1400
					.imgWrap
						.imgContent
							img(src=`images/rewards4-3.png` alt="")
						p 破壞石碎片 #[br]X450
					.imgWrap
						.imgContent
							img(src=`images/rewards4-4.png` alt="")
						p 和諧突破石 #[br]​X50
					.imgWrap
						.imgContent
							img(src=`images/rewards4-5.png` alt="")
						p 珍稀戰鬥刻印書選擇袋子 X20
			.awards(class="wow fadeInDown" data-wow-delay="0.45s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.960達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards5-1.png` alt="")
						p 和諧碎片袋(中) #[br]​X15
					.imgWrap
						.imgContent
							img(src=`images/rewards5-2.png` alt="")
						p 守護石碎片 #[br]​X1600
					.imgWrap
						.imgContent
							img(src=`images/rewards5-3.png` alt="")
						p 破壞石碎片 #[br]X500
					.imgWrap
						.imgContent
							img(src=`images/rewards5-4.png` alt="")
						p 和諧突破石 #[br]​X60
					.imgWrap
						.imgContent
							img(src=`images/rewards5-5.png` alt="")
						p 蘊含路沛恩之力的貨幣寶箱 X6
			.awards(class="wow fadeInDown" data-wow-delay="0.6s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.1100達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards6-1.png` alt="")
						p 沛恩​X20
					.imgWrap
						.imgContent
							img(src=`images/rewards6-2.png` alt="")
						p 提煉輔助材料選擇寶箱 X10
					.imgWrap
						.imgContent
							img(src=`images/rewards6-3.png` alt="")
						p 英雄職業專用刻印書選擇寶箱 X20
					.imgWrap
						.imgContent
							img(src=`images/rewards6-4.png` alt="")
						p [每日]艾波娜委託立即完成券 X6
					.imgWrap
						.imgContent
							img(src=`images/rewards6-5.png` alt="")
						p [活動]薇亞特莉絲的祝福(3天) X1
			.awards(class="wow fadeInDown" data-wow-delay="0.65s")
				.awardsTitleWrap
					p(class="awardsTitle1") 裝備等級
					p(class="awardsTitle2") Lv.1250達成
				.awardsContent
					.imgWrap
						.imgContent
							img(src=`images/rewards7-1.png` alt="")
						p 沛恩 #[br]​X20
					.imgWrap
						.imgContent
							img(src=`images/rewards7-2.png` alt="")
						p 英雄戰鬥刻印書選擇袋子 X20
					.imgWrap
						.imgContent
							img(src=`images/rewards7-3.png` alt="")
						p 傳說好感度寶箱 X2
					.imgWrap
						.imgContent
							img(src=`images/rewards7-4.png` alt="")
						p 恢復戰鬥道具選擇寶箱 X15
					.imgWrap
						.imgContent
							img(src=`images/rewards7-5.png` alt="")
						p 奧利哈融合材料 #[br]​X10
.notice
	.noticeWrap 
		.noticeTitle(class="wow fadeInDown" data-wow-delay="0.2s"): img(src="images/noticeTitle.png" alt="Notice. 活動注意事項" class="noticeTitle")
		.noticeContent(class="wow fadeInDown" data-wow-delay="0.3s")
			ul
				li 僅畫師可開啟獎勵寶箱。
				li 序號兌換期限至2024.07.25(四)07:00，超過兌換期限不予補發。
				li 薇亞特莉絲的祝福請於領取後14天內開啟使用。
				li 每個帳號最多限領1次獎勵。
				li 實際功能以遊戲內容為主，樂意傳播股份有限公司保留最終解釋權。
				li 活動期間如因不可抗拒因素、系統狀況或其他任何問題等導致活動無法進行，樂意傳播股份有限公司保留終止、修改活動內容及相關規定條款之權利，變更事項將於遊戲網站中公告說明。