body
    background-image: url("../images/BG.jpg")
    color: white
    text-align: center
    font-family: "the-seasons", sans-serif
    font-style: normal
    line-height: 1.4
    #tsparticles
        position: fixed
        z-index: 1
        width: 100%
        height: 100%
        pointer-events: none
    header
        height: 100vh
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding: 0 0 0 5vw
        .mainTitle1    
            position: relative
            margin-bottom: -3rem
            font-size: 8vw
            font-style: Light
            letter-spacing: 1rem
            display: flex
            width: 100%
            +media-pc-2
                margin-bottom: unset
            +media-sp
                padding: uset
                margin-bottom: unset
                letter-spacing: .8rem
        .mainTitle2
            font-size: 4vw
            font-style: italic
            font-weight: 300
            color: #ffc5e7
            letter-spacing: 1rem
            +media-sp
                padding: uset
                lletter-spacing: .3rem
                font-size: 5vw
        .scrollBox
            font-size: 50px
            position: absolute
            bottom: 30px
            left: 50%
            transform: translateX(-50%)
            +media-sp
                font-size: 23px
            .scroll
                &:last-child
                    opacity: 0
                    top: 0
                    left: 0
                    color: #ffc5e7
